
  .bottom__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  
  .logo__section .logo__picture {
    max-width: 120px;
  }
  
  .navbar__buttons {
    display: flex;
    gap: 30px;
  }
  
  .navlinks__routing {
    text-decoration: none;
    font-size: 1.1rem;
    color: #333;
    cursor: pointer;
  }
  
  .social__media {
    display: flex;
    gap: 10px;
  }
  
  .burger-menu {
    display: none;
  }
  
  @media (max-width: 955px) {
    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar__buttons {
      display: none;
      flex-direction: column;
      gap: 10px;
    }
    .social__media {
        display: none;
    }
  
    .navbar__buttons.open {
      display: flex;
    }
  
    .burger-menu {
      display: block;
    }
  
    .navlinks__routing {
      font-size: 1rem;
    }
  
    /* Ascunde social media când burger menu este activ */
    .social__media.hide {
      display: none;
    }
  }
  