.bottom__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }
  
  .logo__section .logo__picture {
    max-width: 120px;
  }
  
  .navbar__buttons {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  
  .navlinks__routing {
    text-decoration: none;
    font-size: 1.1rem;
    color: #333;
    cursor: pointer;
  }
  
  .social__media {
    display: flex;
    gap: 10px;
  }
  
  .burger-menu {
    display: none;
  }
  
  /* Overlay pentru fundal gri */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .overlay.show {
    display: block;
  }
  
  @media (max-width: 955px) {
    .navbar__buttons {
      display: none;
      flex-direction: column;
      gap: 10px;
      background: white; /* Fundal alb pentru navbar când apare */
      padding: 20px;
      position: absolute;
      top: 60px; /* Ajustează în funcție de înălțimea headerului */
      left: 0;
      width: 100%;
      z-index: 2;
    }
  
    .navbar__buttons.open {
      display: flex;
    }
  
    .burger-menu {
      display: block;
    }
  
    .navlinks__routing {
      font-size: 1rem;
    }
  
    /* Ascunde social media când burger menu este activ */
    .social__media {
      display: none;
    }

   
  }
  