* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer__container {
    width: 100%;
    background-color: rgba(38,38,38,255);

}

.footer__text {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 100px;
}


.icon__and__contact {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 25px;
    color: rgb(255, 255, 255);
    
}
.about__contact {
    margin-bottom: 15px;
}

.contact {
    color: rgb(108, 108, 108);
    text-transform: uppercase;
    font-size: 18px; 
}

.contact__value {
    color: #d4d4d3;
}

.about__contact__address {
    margin-top: 15px;
}

.contact__text {
    margin-left: 7px;
}

.phone__value, .email__value {
    text-decoration: none;
    color:#d4d4d3;
}
.phone__value:hover, .email__value:hover {
    color:rgb(238, 121, 121);
}

.doctor__name {
    color:wheat;
    font-weight: 500;
    margin-left: 0;
    margin-top: -30px;
}

.social__media__arrangement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
}

.social__media__arrangement:hover {
    background-color: #286090;
    color:wheat
}

.facebook {
    background-color: #3175af;
    margin-bottom: 10px;
    margin-top: 30px;
    
}

.instagram {
    background-color: #3175af;

}