.appointment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: rgba(191,162,120,255); 
    margin: 100px auto;
  }
  
  .header-appointment {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #000000;
  }


  
  .form-container {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
  }
  
  .input-row {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap; 
  }
  
  input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .send_button {
    padding: 10px 50px;
    font-size: 16px;
    background-color: rgba(24,101,92,255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .send_button:hover {
    background-color: #0056b3;
  }
  
  /* Media Query pentru ecrane mici */

  @media (max-width: 440px) {
    .appointment-container {
        padding: 50px 5px;
    }
    
    .input-row {
      flex-direction: column; /* Pune inputurile pe coloane pe mobil */
      gap: 20px;
    }
  
    input {
      width: 100%; /* Inputurile vor ocupa întreaga lățime pe mobil */
    }
  }


  @media (max-width: 650px) {
    .appointment-container {
        padding: 50px 20px;
    }
    
    .input-row {
      flex-direction: column; /* Pune inputurile pe coloane pe mobil */
      gap: 20px;
    }
  
    input {
      width: 100%; /* Inputurile vor ocupa întreaga lățime pe mobil */
    }
  }



  @media (max-width: 940px) {
    .input-row {
      flex-direction: column; /* Pune inputurile pe coloane pe mobil */
      gap: 20px;
    }
  
    input {
      width: 100%; /* Inputurile vor ocupa întreaga lățime pe mobil */
    }
  }
  