.buttons_container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
 
  background:rgba(255, 255, 255, 0.8);
  width: 80%;

}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.services-container {
  display: flex;
  flex-direction: column;
}

.service-category {
  margin: 30px auto;
  width: 80%;
}

.prices_title {
  font-size: 20px;
  margin-bottom: 10px;
}





.price_button:focus {
  outline: none; /* Elimină conturul implicit al butonului când este selectat */
} 

.price_button {
  cursor: pointer;
  width: 100%;
  padding: 20px;
  transition: background-color 0.3s ease;
  background-color: rgba(191,162,120,255);
  border: 0.5px solid rgba(255,255,255,0.8); /* Delimitare subțire */
}
  
.price_button:hover {
  background-color: orangered;
}


.service-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 coloane */
  gap: 20px;
  padding: 20px;
}

.service-item {
  display: flex;
  justify-content: space-between;
  padding: 15px; /* Mai mult padding pentru un aspect aerisit */
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  gap: 20px; /* Spațiu uniform între elemente */
}

.service-item span:first-child {
  flex: 70%; /* Numele serviciului ocupă 70% */
}

.service-item span:last-child {
  flex: 30%; /* Prețul ocupă 30% */
  text-align: right;
}


.service-item span {
  font-size: 16px;
  font-weight: bold;
}




.container {
  position: relative;
  width: 100%;
  text-align: center;
}

.image-background {
  width: 100%;
  display: block;
  background-size: cover;
  height: 400px;
  filter: brightness(30%);
  object-fit: cover;

}

.text-overlay {
  position: absolute;
  top: 150px; /* Ajustează distanța de sus */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 1;
  width: 70%;
}

.text-overlay .prices_title {
  font-size: 32px;
  margin-bottom: 10px;
}

.text-overlay p {
  font-size: 20px;
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  .service-items {
    grid-template-columns: 1fr; /* Pe dispozitive mai mici, afișăm pe o singură coloană */
  }
}

@media (max-width: 600px) {
  
  .text-overlay .prices_title {
   display: none;
  }
  
  .text-overlay p {
   display: none;
  }
  .buttons {
    flex-direction: column;
  }
}

