* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  overflow-x: hidden; /* Ascunde overflow-ul orizontal */
}

.hero__image {
  position: relative;
  width: 100vw;
  height: auto;
  overflow: contain;
  
}

.text__block__welcome {
  margin-top: -140px;
  color: rgb(0, 0, 0);
}

.dental_name {
  color: red;
  font-size: 70px;
}

.hero__welcome {
  font-size: 50px;
  margin-bottom: 20px;
}

.p_welcome {
  color: rgb(70, 70, 70);
}

.background__image {
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

p {
  font-size: 1.1rem;
  margin: 10px 0;
}

.overlay__content {
  position: absolute;
  top: 50%;
  left: 27%; /* Mută textul mai la stânga */
  transform: translateY(-50%); /* Elimină deplasarea pe orizontală */
  width: 45%; /* Ajustează lățimea */
  text-align: left; /* Aliniază textul la stânga */
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: slideUp 1.2s ease-out forwards;
  opacity: 0; /* Începe invizibil */
}

@keyframes slideUp {
  0% {
    transform: translate(-10%, 100vh);
    opacity: 0;
  }
  100% {
    transform: translate(-10%, -50%);
    opacity: 1;
  }
}

.hero_links {
  text-decoration: none;
  color: white;
}

.text__block {
  width: 45%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 220px;
  color:#000 ;
  background-color: rgba(255, 255, 255, 0.7); /* Alb cu 50% transparență */
  padding: 20px; /* Spațiere pentru a nu lipi textul de margini */
  align-items: flex-start; /* Aliniază elementele la stânga */
  text-align: left;
}

.hero__buttons {
  background-color: #c4a880;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: auto;
}

.hero__buttons:hover {
  background-color: orangered;
  
}

.about-us {
  max-width: 1200px;
  margin: 50px auto;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

header h1 {
  text-align: center;
  color: #2c3e50;
  font-size: 2.5em;
  margin-bottom: 40px;
}

.mission {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.mission-doctor {
  display: flex;
  align-items: center;
  margin:0 40px 40px 40px;
} 

.mission .text-left, .mission-doctor .text-right {
  flex: 1;
  padding: 20px;
}

.mission .text-left h2 {
  color: #34495e;
  font-size: 2em;
  margin-bottom: 15px;
}

.mission-doctor .text-left h2 {
  color: #34495e;
  font-size: 2em;
  margin-bottom: 15px;
}



.hero_text {
  line-height: 1.8;
  text-align: justify;
  font-size: 1.1em;
  color: #555;
}

.mission .image-left, .mission-doctor .image-right {
  flex: 1;
  text-align: center;
}



.image-right img {
  width: 500px; 
  height: 300px; 
  border-radius: 10px;
}

.image-left img {
  width: 200px;
  height: 250px;
}

.founder {
  margin-top: 40px;
  text-align: center;
  font-style: italic;
  color: #7f8c8d;
}

.founder h3 {
  margin: 0;
  color: #2c3e50;
  font-size: 1.5em;
}

.founder p {
  margin: 5px 0 0;
  font-size: 1.2em;
}

/* Media Queries pentru Responsive Design */



@media (max-width: 1200px) {
  .overlay__content {
    flex-direction: column;
    gap: 20px;
  }

  .text__block {
    width: 100%;
    min-height: auto;
  }


  .mission .text-left, .mission .text-right {
    padding: 10px;
  }
}


@media (max-width: 1170px) {
  .overlay__content {
    flex-direction: column;
    gap: 20px;
    width: 35%;
  }

  .text__block__welcome {
    margin-top: 0;
  }

  .hero__welcome {
    margin-bottom: 0;
    font-size: 30px;
  }
  .dental_name {
    font-size: 35px;
  }

  .mission .text-left, .mission .text-right {
    padding: 10px;
  }
}



@media (max-width: 830px) {



  .about-us {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
  }

  header h1 {
    font-size: 2rem;
  }

  .mission .text-left h2 {
    font-size: 1.5rem;
  }

  .mission p {
    font-size: 1rem;
  }

  .founder h3 {
    font-size: 1.2rem;
  }

  .founder p {
    font-size: 1rem;
  }

  .image-right img {
    width: 300px;
  }
}

@media (max-width: 700px) {
  .overlay__content {
    margin-top: 50px;
  }
}

@media (max-width: 590px) {
  .mission-doctor {
    display: flex;
    flex-direction: column-reverse;
    justify-self: center;
    align-items: center;
    margin:0 ;
  }
  .mission {
    flex-direction: column;
    
  }

  .image-left img {
    text-align: center;
  }

  .image-right img {
    width: 100vw;
    height: 200px;
  }

  .dental_name {
    font-size: 30px;
  }

  .hero__welcome {
    font-size: 20px;
  }
  .p_welcome {
    font-size: 14px;
  }
}


@media (max-width: 480px) {
 .text__block {
  color: #000;
 }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  .hero__buttons {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .about-us {
    padding: 10px;
  }

  header h1 {
    font-size: 1.5rem;
  }

  .mission .text-left h2 {
    font-size: 1.2rem;
  }

  .mission p {
    font-size: 0.9rem;
  }

  .founder h3 {
    font-size: 1rem;
  }

  .founder p {
    font-size: 0.9rem;
  }
  .p_welcome {
    display: none;
  }
  .hero__welcome {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .hero__welcome {
    font-size: 10px;
  }

  .dental_name {
    font-size: 12px;
  }


} 

@media (max-width: 220px) {
  .hero__welcome {
    display: none;
  }

  .dental_name {
    display: none;
  }


} 


